@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css';

.login-h3 {
    font-size: 28px;
    color: #00798C;
    margin: -8% 0% 5% 35%;
}

.container {
    background-color: aliceblue;
    width: 30%;
    height: 150px;
    padding: 6% 0% 6% 5%;
    border-radius: 8px;
    margin: 8% 0% 0% 32%;
}

input {
    border-radius: 50px;
    height: 40px;
    width: 60%;
    background-color: #f0f0f0;
    border: none;
    margin-left: 10%;
    padding-left: 5%;
}


.input-label {
    font-weight: bold;
    font-size: 16px;
    margin-left: 1%;
}

.login-button {
    width: 30%;
    height: 35px;
    border-radius: 50px;
    border: none;
    background-color: #00798C;
    color: #FFF;
    font-size: 15px;
    margin: 3% 0% 0% 28%;
}

i {
    color: #00798C;
    margin-left: -8%;
}

.error-msg {
    color: red;
    margin-left: 15%;
}